@import "../../styles.scss";

.pause-wrapper {
  position: absolute;
  top: 57px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  z-index: 1000;
}

.position-wrapper{
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 15px 0px;
}

.choice-button {
  background-color: lightblue;
  border: solid black 1px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  &:disabled {
    border: solid white 1px;
    background-color: $background-color;
  }
}

.field {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  text-align: center;
}

.game-options-button {
  margin: 15px;
  text-align: center;
  background-color: lightblue;
  border: solid black 1px;
  font-weight: bold;
  border-radius: 30px;
  width: 120px;
  height: 60px;
}

.score-text {
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, .75);
  padding: 15px 0px;
  margin-top: 175px;
  color: white;
  font-size: xxx-large;
  z-index: 100;
}

.scoreboard-section{
  padding: 15px;
}

.acitve-position{
  background-color: black !important;
  border: solid black 1px !important;
  color: white !important;
}

.scoreboard {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 15px;
}

.game-actions {
  
}