.position-wrapper{
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 15px 0px;
}

.choice-button {
  background-color: lightblue;
  border: solid black 5px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  &:disabled {
    border: solid white 5px;
    background-color: green;
  }
}

.field {
  background-color: green;
  height: 100%;
  width: 100%;
  text-align: center;
}

.game-options-button {
  margin: 15px;
  text-align: center;
  background-color: lightblue;
  border: solid black 5px;
  font-weight: bold;
  border-radius: 30px;
  width: 120px;
  height: 60px;
}

.scoreboard {
}

.scoreboard-section{
  padding: 15px;
}

.acitve-position{
  background-color: black !important;
  border: solid black 5px !important;
  color: white !important;
}