<div class="field">
  <div class="score-text" *ngIf="scoreText != null">{{scoreText}}</div>
  <div class="scoreboard">
    <h2>
      <span class="scoreboard-section">Time Remaining: {{getTimeRemaining()}}</span>
      <span class="scoreboard-section">Goals: {{goalsThisRound}}</span>
      <span class="scoreboard-section">Round Number: {{roundNumber}}/{{NUMBER_OF_ROUNDS}}</span>
      <span class="scoreboard-section">Total Goals: {{totalGoals}}</span>
    </h2>
  </div>
  <div dir="rtl">
    <div *ngFor="let position of positions" class="position-wrapper" [style.width.%]="getWidth(position.fieldPositionId)">
      <button [class.acitve-position]="position.fieldPositionId == currentPosition" [disabled]="isPositionDisabled(position.fieldPositionId)" class="choice-button" (click)="moveToPosition(position)">
        {{position.fieldPositionId}}
      </button>
    </div>
  </div>
  <div class="game-options">
    <button *ngIf="!gameStarted" (click)="startGame()" class="game-options-button">Start Game</button>
    <button *ngIf="!roundStarted && gameStarted" (click)="startRound()" class="game-options-button">Start Round</button>
    <button *ngIf="showResetButton" (click)="resetFieldPosition()" class="game-options-button">Reset Field</button>
  </div>
</div>
<div *ngIf="paused" class="pause-wrapper">
  <h2>Paused</h2>
  <p>Please press continue when you are ready.</p>
  <button (click)="unPause()">Continue</button>
</div>
