<div class="field" *ngIf="!gameOver">
  <div class="score-text" *ngIf="scoreText != null">{{scoreText}}</div>
  <div class="scoreboard" *ngIf="gameStarted">
    <h2 *ngIf="currentRound?.practice">Practice Round</h2>
    <h2>
      <span class="scoreboard-section">Time Remaining: {{getTimeRemaining()}}</span>
      <span class="scoreboard-section">Goals: {{goalsThisRound}}</span>
      <span class="scoreboard-section" *ngIf="currentRound?.practice">Round Number: {{roundNumber}}/{{NUMBER_OF_PRACTICE_ROUNDS}}</span>
      <span class="scoreboard-section" *ngIf="currentRound?.practice">Total Goals: {{practiceGoals}}</span>
      <span class="scoreboard-section" *ngIf="!currentRound?.practice">Round Number: {{roundNumber - NUMBER_OF_PRACTICE_ROUNDS}}/{{NUMBER_OF_ROUNDS}}</span>
      <span class="scoreboard-section" *ngIf="!currentRound?.practice">Total Goals: {{totalGoals - practiceGoals}}</span>
    </h2>
  </div>
  <div dir="rtl">
    <div *ngFor="let position of positions" class="position-wrapper" [style.width.%]="getWidth(position.fieldPositionId)">
      <button [class.acitve-position]="position.fieldPositionId == currentPosition" [disabled]="isPositionDisabled(position.fieldPositionId)" class="choice-button" (click)="moveToPosition(position)">
        {{position.fieldPositionId}}
      </button>
    </div>
  </div>
  <div class="game-options">
    <button *ngIf="!gameStarted" (click)="startGame()" class="game-options-button">Start Game</button>
    <button *ngIf="!roundStarted && gameStarted" (click)="startRound()" class="game-options-button">Start Round</button>
    <button *ngIf="showResetButton" (click)="resetFieldPosition()" class="game-options-button">Reset Field</button>
  </div>
</div>
<div *ngIf="paused || gameOver || loadingCount > 0" class="pause-wrapper">
  <div *ngIf="gameOver">
    <h2>Game Finshed</h2>
    <p>Congratulations! You have finished your session of Kicky Ball.</p>
  </div>
  <div *ngIf="!gameOver">
    <div *ngIf="loadingCount > 0">
      <p>Loading Game...</p>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div *ngIf="loadingCount == 0">
      <h2>Paused</h2>
      <p>Please press continue when you are ready to resume Kicky Ball.</p>
      <button (click)="unPause()" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>
