<div class="field" *ngIf="!gameOver">
  <div class="score-text" *ngIf="scoreText != null">{{scoreText}}</div>
    <div class="scoreboard" *ngIf="gameStarted">
      <div class="scoreboard-section">Time: {{getTimeRemaining()}}</div>
      <div class="scoreboard-section">Goals: {{goalsThisRound}}</div>
      <div class="scoreboard-section">Round: {{roundNumber}}/{{TOTAL_NUMBER_OF_ROUNDS}}</div>
      <div class="scoreboard-section">Total Goals: {{totalGoals}}</div>
      <p *ngIf="showNeedMoreDataMessage">You have not completed enough attempts for sufficient data. Please actively participate in order to move forward.</p>
      
    </div>
  <img src="./assets/goal.png" alt="Goalie Net" width="288" height="125">
  <i *ngIf="scoreText != null" class="fa fa-2x fa-soccer-ball-o ball-animation" [class.shoot-goal]="shootGoal" [class.miss-goal]="missGoal"></i>
  <div dir="rtl">
    <div *ngFor="let choice of choices" class="choice-wrapper">
      <button 
        *ngFor="let position of getPositionsForChoice(choice)" 
        [class.active-position]="position.fieldPositionId == currentFieldPositionId && scoreText == null" 
        [disabled]="isPositionDisabled(position.fieldPositionId)" 
        class="choice-button" 
        (click)="moveToPosition(position)"
        >
        <i [class.fa-soccer-ball-o]="position.fieldPositionId == currentFieldPositionId && scoreText == null" class="fa fa-2x"></i>
      </button>
    </div>
  </div>
  <div class="game-options">
    <button *ngIf="!gameStarted" (click)="startGame()" class="game-options-button">Start Game</button>
    <button *ngIf="!roundStarted && gameStarted || true" (click)="startRound()" class="game-options-button start-round">Start Round</button>
    <button *ngIf="showResetButton" (click)="resetFieldPosition()" class="game-options-button">Reset Field</button>
    <div *ngIf="showEndOfRound || true" class="end-of-round-wrapper">
      <p>End of Round {{roundNumber}}</p>
    </div>
  </div>
</div>
<div *ngIf="paused || gameOver || loadingCount > 0" class="pause-wrapper">
  <div *ngIf="gameOver" class="end-game-screen">
    <p>Thank you for your participation. You have now completed the study.</p>
    <p>You should expect to receive your monetary compensation in the form of an e-giftcard to Amazon within the next week. This will be sent to the email you provided.</p>
    <p>A portion of our survey included questions regarding your mental health. If you have experienced any distress due to these questions, please reach out to our principal investigator, Amy Odum at <a href="mailto:Amy.Odum@usu.edu">Amy.Odum@usu.edu</a> or (435)797-5578. In addition, we would like to provide mental health references that are available to you:</p>
    <ul>
      <li><a href="https://aggiewellness.usu.edu/logan/mentalwellness" target="_blank">USU Counseling and Psychological Services:</a> (435) 797-1012</li>
      <li><a href="https://scce.usu.edu/services/psychology" target="_blank">SCCE Behavioral Health Clinic</a></li>
      <li><a href="https://scce.usu.edu/services/act-guide/" target="_blank">ACT Guide:</a> a free online self-help program</li>
      <li>Crisis Resources:
        <ul>
          <li>Contact <a href="https://healthcare.utah.edu/uni/safe-ut/" target="_blank">SafeUT</a> at (801) 587-3000 or download the app to start a private chat.</li>
          <li><a href="https://suicidepreventionlifeline.org/" target="_blank">National Suicide Prevention Lifeline</a></li>
          <li><a href="https://www.crisistextline.org/" target="_blank">Crisis Text Line</a></li>
        </ul>
      </li>
    </ul>
    <p class="last-p">Please close your browser to protect confidentiality.</p>
  </div>
  <div *ngIf="!gameOver">
    <div *ngIf="loadingCount > 0">
      <p>Loading Game...</p>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div *ngIf="loadingCount == 0">
      <h2>Paused</h2>
      <p>Please press continue when you are ready to resume Kicky Ball.</p>
      <button (click)="unPause()" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>
