<div class="field" *ngIf="!gameOver">
  <div class="score-text" *ngIf="scoreText != null">{{scoreText}}</div>
    <div class="scoreboard" *ngIf="gameStarted">
      <div class="scoreboard-section">Time: {{getTimeRemaining()}}</div>
      <div class="scoreboard-section">Goals: {{goalsThisRound}}</div>
      <div class="scoreboard-section">Round: {{roundNumber}}/{{TOTAL_NUMBER_OF_ROUNDS}}</div>
      <div class="scoreboard-section">Total Goals: {{totalGoals}}</div>
      <p *ngIf="showNeedMoreDataMessage">You have not completed enough attempts for sufficient data. Please actively participate in order to move forward.</p>
      <p *ngIf="showEndOfRound">End of Round {{roundNumber}}</p>
    </div>
  <div dir="rtl">
    <div *ngFor="let choice of choices" class="choice-wrapper">
      <button 
        *ngFor="let position of getPositionsForChoice(choice)" 
        [class.active-position]="position.fieldPositionId == currentFieldPositionId" 
        [disabled]="isPositionDisabled(position.fieldPositionId)" 
        class="choice-button" 
        (click)="moveToPosition(position)"
        >
        <i [class.fa-soccer-ball-o]="position.fieldPositionId == currentFieldPositionId" class="fa fa-2x"></i>
      </button>
    </div>
  </div>
  <div class="game-options">
    <button *ngIf="roundStarted && !showResetButton" (click)="moveLeft()" class="game-options-button">Left</button>
    <button *ngIf="roundStarted && !showResetButton" (click)="moveRight()" class="game-options-button">Right</button>
    <button *ngIf="!gameStarted" (click)="startGame()" class="game-options-button">Start Game</button>
    <button *ngIf="!roundStarted && gameStarted" (click)="startRound()" class="game-options-button">Start Round</button>
    <button *ngIf="showResetButton" (click)="resetFieldPosition()" class="game-options-button">Reset Field</button>
  </div>
</div>
<div *ngIf="paused || gameOver || loadingCount > 0" class="pause-wrapper">
  <div *ngIf="gameOver">
    <h2>Game Finshed</h2>
    <p>Congratulations! You have finished your session of Kicky Ball.</p>
  </div>
  <div *ngIf="!gameOver">
    <div *ngIf="loadingCount > 0">
      <p>Loading Game...</p>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div *ngIf="loadingCount == 0">
      <h2>Paused</h2>
      <p>Please press continue when you are ready to resume Kicky Ball.</p>
      <button (click)="unPause()" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>
