<div class="welcome-wrapper">
    <div class="welcome">
        <h1>Welcome to Kicky Ball!</h1>
        <h2>Instructions:</h2>
        <p>You are going to be playing a game where you control the movement of a soccer ball by clicking the right and left circles. Clicking on the right circle will move the ball up and to the right and clicking on the left button will move the ball up and to the left. After five clicks, the game will tell you whether or not you scored a goal. Sometimes you will score and receive points. Other times you will not score a goal.</p>
        <p>For every goal you score, you will receive 2¢. The more goals you score, the more money you will make. No, you won’t get rich, but hopefully this makes the game more interesting. The whole procedure will take about 40 minutes. There will be eight 5-minute rounds of the soccer game. While you are playing the game, you might want to take a break -- to drink, use bathroom, etc. The best time to do that is between rounds. Please complete the entire game in one sitting.</p>
        <p>Please Login or click Play to begin.</p>
    </div>
</div>
