/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

$primary-color: lightblue;
$background-color: darkgreen;

html {
  background-color: $background-color;
}

a {
  color: #0366d6;
}

code {
  color: #bf1ae0;
}

.cdk-overlay-container {
  background-color: $background-color !important;
}

.component-body{
  top: 57px;
  position: fixed;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  max-width: none;
}

.navbar {
  margin: 0px !important;
  background-color: $primary-color !important;
  width: 100%;
  z-index: 2000;
}

.btn-primary {
  color: black;
  background-color: $primary-color;
  border-color: black;
  margin: 10px;
}

.btn-secondary {
  color: white;
  background-color: $background-color;
  border-color: white;
  margin: 10px;
}

.btn-warning {
  color: white;
  background-color: $background-color;
  border-color: $background-color;
  margin: 10px;
}

.btn-danger {
  color: white;
  background-color: darkred;
  border-color: none;
  margin: 10px;
}

.btn-close {
  color: black;
  background-color: white;
  border-color: black;
  margin: 10px;
}

.hoverable {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

  .hoverable .hover-text {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
  }

  .hoverable .background {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.5);
      pointer-events: none;
      border-radius: 50%;
      z-index: 1;
  }

  .hoverable:hover .hover-text {
      display: block;
  }

  .hoverable:hover .background {
      display: block;
  }
