@import "../../styles.scss";

h2, form, .login-description {
    background-color: $background-color;
    color: white;
    margin: 0px;
    padding-left: calc(50% - 150px);
    padding-top: 15px;
}

input {
    max-width: 300px;
}

a {
    color: $primary-color;
}

.login {
    margin: 37.5px;
    color: white;
}

.help-icon {
    cursor: pointer;
    color: $primary-color;
}

.help-text {
    max-width: 300px;
}