@import "../../styles.scss";

h2 {
    background-color: $background-color;
    color: white;
    margin: 0px;
    padding: 15px;
}

table {
    width: 100%;
    background-color: $background-color;
    color: white;
}
td, th {
    padding-left: 15px;
    border-left: solid 1px white;
}
th {
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .75);
}

thead {
    border-bottom: solid 1px white;
}